[submodule "modules/glew-cmake"]
	path = modules/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/neoJINXD/imgui.git
